[submodule "site/docs/_external/terragrunt-template-catalog-eks"]
	path = site/docs/_external/terragrunt-template-catalog-eks
	url = https://github.com/ConsciousML/terragrunt-template-catalog-eks.git
