[submodule "site/docs/_external/eks-forge-catalog"]
	path = site/docs/_external/eks-forge-catalog
	url = https://github.com/ConsciousML/eks-forge-catalog.git
[submodule "site/docs/_external/eks-forge-live"]
	path = site/docs/_external/eks-forge-live
	url = https://github.com/ConsciousML/eks-forge-live.git
[submodule "site/docs/_external/eks-forge-app-of-apps"]
	path = site/docs/_external/eks-forge-app-of-apps
	url = https://github.com/ConsciousML/eks-forge-app-of-apps.git
